body{
font-family: 'Times New Roman', Times, serif;
padding: 20px;
background: rgb(255, 249, 238);

}
h1{
  text-align: center;
}
#products{
display: flex;
flex-wrap: wrap;
gap: 20px;

}
.card{

  background: rgb(233, 231, 231);
   width:220px;
   padding:15px;
   border-radius: 10px;
   box-shadow: 0px 0px 5px grey;
}

.card img{
width: 100%;
height:180px;
object-fit: contain;

}
button{

  padding: 8px 12px;
  cursor: pointer;
}